.root{
    -fx-background: rgb(34, 49, 63);
}

#title{
    -fx-font-size: 32px;
    -fx-font-family: "Tahoma";
    -fx-fill: #19b5f5;
    //-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

#guide {
    -fx-font-size: 16px;
    -fx-font-family: "Tahoma-Italic";
    -fx-font-style: italic;
    -fx-text-fill: #eeeeee;
}

#default-hex-even{
    -fx-font-size: 22px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #ffffff;
}

#default-hex-odd{
    -fx-font-size: 22px;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #aaaaaa;
}

#highlighted-hex{
    -fx-font-size: 22px;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-text-fill: #19b5f5;
}